<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gagarin Hack | Евсеев Михаил</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>

<div class="hackathon-details">
    <h1>Евсеев Михаил</h1>
    <div class="hackathon-achievement">
        <p>Гагарин хакатон | 1 место</p>
    </div>

    <div class="hackathon-context">
        <h2>Контекст</h2>
        <p>«Гагарин.Хакатон» — это масштабное соревнование от Акселератора Возможностей, которое прошло 12–14 апреля 2024 года в преддверии дня космонавтики.</p>
    </div>

    <div class="hackathon-task">
        <h2>Задача</h2>
        <p>На этом Хакатоне наша команда решала задачу разработать сервис, позволяющий в режиме работы по api с определенной вероятностью классифицировать фото-сканы автомобильных документов по их типам - определить вероятности соответствия конкретному типу (водительское удостоверение, свидетельство о регистрации транспортного средства, птс, паспорт РФ), а также номер листа/стороны документа, и получить основную информацию/атрибутику из каждого документа.</p>
    </div>

    <div class="hackathon-process">
        <h2>Процесс решения</h2>
        <p>Сразу было произведено планирование и распределение ролей. Далее разработчики определили стек технологий и приступили к разработке.</p>
    </div>

    <div class="hackathon-results">
        <h2>Итоги и рефлексия</h2>
        <p>По окончанию периода разработки и защите проектов, наша команда заняла 1 место в общем зачете по треку</p>
    </div>

    <div class="hackathon-presentation">
        <h2>Презентация</h2>
        <p><a href="assets/Gagarin.pdf" target="_blank">Gagarin.pdf</a></p>
    </div>
</div>
<div class="back-button">
    <a href="/" class="button-link">Назад</a>
</div>

</body>
</html>
