<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Евсеев Михаил - Портфолио</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>

<header>
    <h1>Евсеев Михаил</h1>
    <nav>
        <a href="https://t.me/kelianis" target="_blank" rel="noopener noreferrer">Telegram</a> |
        <a href="https://vk.com/ndelle" target="_blank" rel="noopener noreferrer">VK</a> |
        <a href="https://github.com/ultraevs" target="_blank" rel="noopener noreferrer">GitHub</a> |
        <a href="mailto:evseevforwork@gmail.com">Email</a>
    </nav>
</header>

<main>
    <section id="resume" class="section">
        <div class="container">
            <h2>Резюме</h2>
            <p>Привет! Я занимаюсь backend-разработкой, также занимаюсь dev-ops.</p>
        </div>
    </section>

    <section id="hackathons" class="section">
        <div class="container">
            <h2>Хакатоны</h2>
            <div class="hackathon-item">
                <h3><a href="urbaton" class="button-link">Урбатон 2023</a></h3>
                <p>3 место</p>
            </div>
            <div class="hackathon-item">
                <h3><a href="/moretech5" class="button-link">More.Tech 5.0</a></h3>
                <p>Финалисты</p>
            </div>
            <div class="hackathon-item">
                <h3><a href="smolathon" class="button-link">Smolathon</a></h3>
                <p>6 место</p>
            </div>
        </div>
    </section>

    <section id="projects" class="section">
        <div class="container">
            <h2>Проекты</h2>
            <div class="project-item">
                <h3><a href="https://kds-3.shmyaks.ru" class="button-link" target="_blank">KDS-3</a></h3>
                <p>Разработка сайта для строительной компании КДС-3</p>
            </div>
            <div class="project-item">
                <h3><a href="https://shmyaks.ru" class="button-link" target="_blank">ESP</a></h3>
                <p>Разработка сайта для компании ЭСП</p>
            </div>
        </div>
    </section>

    <section id="skills" class="section">
        <div class="container">
            <h2>Навыки</h2>
            <div class="skill-item">
                <h3>Backend</h3>
                <ul>
                    <li>Python FastAPI</li>
                    <li>Golang Gin</li>
                    <li>REST API</li>
                    <li>Базы данных (PostgreSQL, MySQL)</li>
                    <li>Разработка телеграмм-ботов (aiogram)</li>
                </ul>
            </div>
            <div class="skill-item">
                <h3>Dev-Ops</h3>
                <ul>
                    <li>NGINX</li>
                    <li>Настройка серверов для развертывания проектов</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="contact" class="section">
        <div class="container">
            <h2>Свяжитесь со мной</h2>
            <form id="contact-form">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required>

                <label for="phone">Телефон:</label>
                <input type="tel" id="phone" name="phone" required>

                <label for="comment">Комментарий:</label>
                <textarea id="comment" name="comment" rows="4" required></textarea>

                <button type="submit">Отправить</button>
            </form>
        </div>
    </section>
</main>

<footer>
    <div class="container">
        <p>&copy; 2024 Евсеев Михаил. Все права защищены.</p>
    </div>
</footer>


<script src="assets/script.js"></script>
</body>
</html>
