<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smolathon | Евсеев Михаил</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>

<div class="hackathon-details">
    <h1>Евсеев Михаил</h1>
    <div class="hackathon-achievement">
        <p>Smolathon | 6 место</p>
    </div>

    <div class="hackathon-context">
        <h2>Контекст</h2>
        <p>Smolathon — Хакатон РФ от города Смоленск. Соревнование проходило в формате офлайн. В Хакатоне приняло участие свыше 50 команд.</p>
    </div>

    <div class="hackathon-task">
        <h2>Задача</h2>
        <p>На этом Хакатоне наша команда решала задачу создания сервиса для подбора оптимального отделения банка, основываясь на доступности услуг и загруженности отделений. В решении этой задачи принимало участие 217 команд.</p>
    </div>

    <div class="hackathon-process">
        <h2>Процесс решения</h2>
        <p>Сразу после начала Хакатона наша команда собралась онлайн в Discord, чтобы провести брейншторм по идеям и фичам нашего сервиса...</p>
    </div>

    <div class="hackathon-results">
        <h2>Итоги и рефлексия</h2>
        <p>По окончанию периода разработки и защите проектов, наша команда заняла 6 место в общем зачете</p>
    </div>

    <div class="hackathon-presentation">
        <h2>Презентация</h2>
        <!--<p><a href="path/to/VTB HACK.pdf" target="_blank">VTB HACK.pdf</a> 1586.9KB</p> -->
    </div>
</div>
<div class="back-button">
    <a href="/" class="button-link">Назад</a>
</div>

</body>
</html>
